.about{
    flex-direction: column;
    padding-top: 5rem;
}

.about h2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.about p{
    max-width: 80ch;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.7;
}