.cart {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: rgba(223, 224, 223, 0.85);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  backdrop-filter: blur(6px);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
  
}

.cart-left{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.cart-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.cart-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
}

.cart-right p {
  font-weight: 600;
  font-size: 1.15rem;
  margin: 0;
  padding-right: 1rem;
}

.cart .cart-right .buy-btn{
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background: #ffb703;
    color: black;

    transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background 0.2s ease;
}

.cart .cart-right .buy-btn:hover{
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    background: #ffc933;
}

.cart .cart-right .buy-btn:active{
    transform: translateY(0) scale(0.98);
}


@media (max-width: 760px){
  .cart{
    width: 70%;
    max-width: 700px;
  }
  
  .cart .cart-right .buy-btn{
    transition: none !important;
    transform: none !important;
    background: #ffb703 !important;
    box-shadow: none !important;
  }
}