.auth-page{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg{
  position: absolute;
  inset: 0;
  background-image: url('../../assets/pizza.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(6px);
  transform: scale(1.1); 
}

.auth-page .arrow-left{
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  z-index: 10;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.auth-page .arrow-left:hover{
  transform: scale(1.1) translateX(-2px);
}

.set-button{
  position: relative;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 38%;
}

.set-button button{
  background-color: white;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.set-button .login-btn{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.set-button .register-btn{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.set-button .login-btn.active{
  background: rgb(212, 212, 212);
  font-size: 0.9rem;
}

.set-button .register-btn.active{
  background: rgb(212, 212, 212);
  font-size: 0.9rem;
}