.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.section h2{
    font-size: 2rem;
}

.section button{
    padding: 0.9rem 1rem;
    border-radius: 1.875rem;
    border: none;
    font-weight: 600;
    background-color: #ffb703;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.25);
    transition: all 0.2s ease;
    cursor: pointer;
}

.section button:hover{
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    background: #ffc933;
}